html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend", sans-serif;
  line-height: 1.7;
  font-weight: 600;
  color: #1b1c57;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header {
  width: 120rem;
  height: 4.6rem;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 12rem;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  margin-left: 1rem;
  width: 6.7rem;
  height: 2rem;
  /* padding: 1px 3px; */
}

.navbar {
  display: flex;
  width: 51.5rem;
  align-items: center;
  justify-content: space-between;
}

.nav__items {
  display: flex;
  width: 34.4rem;
  justify-content: space-between;
  margin-right: 1rem;
  list-style: none;
}

.nav__button {
  width: 12.2rem;
  flex-basis: 50%;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  height: 3.4rem;
  border-radius: 3.2rem;
  border: 1px solid #ffffff36;
  padding: 8px 1.6rem;
  color: #ffffff;
  background-color: #ffffff2a;
}

.nav__items li:not(:last-child) {
  margin-right: 1rem;
}
.signup {
  width: 10.7rem;
  height: 4.6rem;
  font-family: inherit;
  font-weight: 600;
  outline: none;
  border: 1px solid #d1fae5;
  color: #047857;
  background-color: #d1fae5;
  border-radius: 3.2rem;
}
.hero {
  width: 150rem;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.title__search {
  width: 49.6rem;
  height: 44.6rem;
  margin: 13rem 12rem;
}

.hero__title {
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
}

.hero__title h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 50px;
  text-align: left;
}

.hero__text {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.hero__search {
  width: 100%;
  height: 5.6rem;
  position: relative;
}

.hero__input {
  width: 100%;
  height: 100%;
}

.search__logo {
  position: absolute;
}
.hero__btn {
  position: absolute;
  top: 0;
  right: 0;
}

/* .hero__title span {
  -webkit-text-stroke: #1b1c57 4px;
  color: #fff;
} */
