html {
    font-size: 62.5%;
}

body {
    font-family: 'Lexend', sans-serif;
    line-height: 1.7;
    font-weight: 600;
    color: #1b1c57;
    box-sizing: border-box;
}
::selection {
    background: #047857;
    color: #ffffff;
}
button {
    outline: none;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}

section {
    overflow: hidden;
}

.header {
    width: 120rem;
    height: 4.6rem;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 12rem;
    z-index: 100;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo h3 {
    display: inline-block;
    font-weight: 700;
    font-size: 1.6rem;
    margin-left: 1rem;
    width: 6.7rem;
    height: 2rem;
    /* padding: 1px 3px; */
}

.navbar {
    display: flex;
    width: 51.5rem;
    align-items: center;
    justify-content: space-between;
}

.nav__items {
    display: flex;
    width: 34.4rem;
    justify-content: space-between;
    margin-right: 1rem;
    list-style: none;
}

.nav__button {
    width: 12.2rem;
    flex-basis: 50%;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    height: 3.4rem;
    border-radius: 3.2rem;
    border: 1px solid #ffffff36;
    padding: 8px 1.6rem;
    color: #ffffff;
    background-color: #ffffff2a;
}

.nav__items li:not(:last-child) {
    margin-right: 1rem;
}
.btn__secondary {
    width: 10.7rem;
    height: 4.6rem;
    font-family: inherit;
    font-weight: 600;
    outline: none;
    border: 1px solid #e0e3eb;
    cursor: pointer;
    color: #888b97;
    background-color: #fff;
    border-radius: 3.2rem;
}

.btn__active {
    color: #047857;
    background-color: #d1fae5;
}
.hero {
    width: 100%;
    display: flex;
    margin: 0 auto;
    /* flex-wrap: wrap; */
    overflow: hidden;
}

.hero__content {
    width: 50%;
}

.title__search {
    width: 49.6rem;
    height: 44.6rem;
    margin: 13rem 12rem;
}

.hero__title {
    width: 100%;
    height: 15rem;
    margin-bottom: 2rem;
}

.hero__title h1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
}

.hero__text {
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    opacity: 75%;
    color: #626687;
    margin-bottom: 1.8rem;
}

.hero__search {
    width: 100%;
    height: 5.6rem;
    position: relative;
    margin-bottom: 1.8rem;
}

.hero__input {
    width: 100%;
    height: 100%;
    padding: 4px 4.5rem;
    border-radius: 3.2rem;
    text-align: left;
    font-family: inherit;
    border: 1px solid #e0e3eb;
}
.btn__primary {
    min-width: 11rem;
    height: 4.8rem;
    font-family: inherit;
    color: #ffffff;
    border-radius: 3.2rem;
    border: 1px solid #10b981;
    background-color: #10b981;
    padding: 1.2rem 1.6rem;
}

.promotion__container .house {
    width: 20.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion__container .rev {
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: center;
}
.promotion__container .rev .ppl_text {
    margin-left: 0;
    align-items: center;
    justify-content: center;
}

.search__logo {
    position: absolute;
    top: 50%;
    translate: 50% -50%;
}
.hero__btn {
    display: inline-block;
    position: absolute;
    top: 50%;

    translate: -4% -50%;
    cursor: pointer;
    right: 0;
}

.hero__btn span {
    width: 7px;
    height: 1.4rem;
    margin-left: 1.5px;
}

.heading__tertiary {
    font-size: 1.6rem;
    font-weight: 400;
    color: #888b97;
    margin-bottom: 1rem;
}

.partner__logo {
    width: 42.7rem;
    height: 6.4rem;
}

.partnership__logo {
    width: 8.2rem;
    height: 100%;
    margin-right: 2.4rem;
}

.hero__img {
    width: 90rem;
    height: 72rem;
    position: relative;
}

.hero__img img {
    width: 100%;
    height: 100%;
}
.hero__title span {
    text-shadow:
        -1px 1px 0 #1b1c57,
        1px 1px 0 #1b1c57,
        1px -1px 0 #1b1c57,
        -1px -1px 0 #1b1c57;
    color: #ffffff;
}

.colorblur {
    width: 43.8rem;
    height: 49.4rem;
}
.cb {
    position: absolute;
    width: 74.1rem;
    z-index: -1;
    height: 52.3rem;
}
.cb-1 {
    position: absolute;
    top: -50%;
    background-color: #82ffd167;
    border-radius: 49% 51% 19% 81% / 43%
        46% 54% 57%;
    background: linear-gradient(
        140deg,
        #82ffd160 50%,
        rgba(255, 255, 255, 1) 100%
    );
}
.cb-2 {
    position: absolute;
    background: linear-gradient(
        140deg,
        rgba(130, 247, 255, 0.212) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background-color: #82f7ff74;
    top: 20%;
    left: -10%;
    translate: -50% -50%;
    border-radius: 49% 51% 20% 80% / 43%
        12% 88% 57%;
}

.promotion__container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 4rem;
    left: 6rem;
}

.people {
    max-width: 32.9rem;
    height: 10.4rem;
    display: flex;
    align-items: center;
    padding: 2.4rem;
    /* justify-content: center; */
    background: #fff;
    border-radius: 3.2rem;
    margin-right: 2rem;
}

.recommend__friends {
    min-width: 11.2rem;
    height: 5.6rem;
    display: flex;
    /* margin-left: 1rem; */
    justify-content: center;
    align-items: center;
}

.recommend__photo {
    max-height: 5.6rem;
    max-width: 5.6rem;
    border-radius: 50%;
    border: 3px solid #fff;
}

.recommend__photo:not(:first-child) {
    margin-left: -2.5rem;
}

.heading_secondary {
    font-size: 1.6rem;
    font-weight: 600;
}

.ppl_img {
    width: 5.6rem;
    height: 5.6rem;
}

.ppl_text {
    max-width: 32.8rem;
    margin-left: 1rem;
}

.ppl_text p {
    min-width: 17.8rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: #68799f;
}

/*----------------------------------------------------------FOOTER SECTION--------------------------------------------------------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    margin: 4rem;
}

.footer__about {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-right: 5rem;
}
.footer__bio--text {
    margin: 2rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    width: 32rem;
    height: 7.2rem;
    color: #626687;
    opacity: 75%;
}

.footer__social svg {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 2.4rem;
}

.footer__tabs h3 {
    font-size: 1.8rem;
    color: #0e1735;
}

.footer__tabs ul {
    line-height: 2;
}

.footer__tabs li {
    font-size: 1.4rem;
    font-weight: 400;
    color: #888b97;
}

/*----------------------------------------------------------FEATURED HOUSES SECTION--------------------------------------------------------------------*/

.feature {
    width: 144rem;
    height: 66rem;
    margin: 4rem 5rem;
    overflow: hidden;
}

.feature__header {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.feature__types {
    display: flex;
    width: 49.3rem;
    justify-content: space-around;
}

.feature__btn {
    cursor: pointer;
    width: auto;
    padding: 1.2rem 2.4rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888b97;
    border: 1px solid #e0e3eb;
    border-radius: 3.2rem;
}

.feature__btn h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

.feature__active {
    background-color: #d1fae5;
    border-color: #d1fae5;
    color: #10b981;
}
.feature__btn svg {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}

.heading__secondary {
    font-size: 3.2rem;
    font-weight: 600;
    margin-left: 3.5rem;
}

.recommend__text {
    font-size: 1.4rem;
    font-weight: 500;
    color: #f59e0b;
}

.recommend__text::before {
    content: '';
    background-color: #f59e0b;
    width: 3.2rem;
    height: 1px;
    margin-right: 3px;
    display: inline-block;
    position: relative;
    top: -4px;
}

.pro__button {
    width: 6rem;
    text-align: center;
    margin-right: 2rem;
}
.pro__button svg {
    width: 2.8rem;
    height: 2.8rem;
}

.pro__active {
    background-color: #10b981;
    color: #fff;
}

.feature__gallery {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 12rem;
}

.feature__card {
    flex-shrink: 0;
    margin-left: 5rem;
}

.feature__img {
    width: 34rem;
    border-radius: 2.4rem;
    height: 38rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.card__btn {
    min-width: 11rem;
    height: 3.4rem;
    padding: 0.8rem 1.6rem;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    border-radius: 3.2rem;
    color: #ef4444;
    background-color: #fee2e2;
    bottom: 2rem;
    left: 2rem;
}

.btn__text {
    font-size: 1.4rem;
    font-weight: 500;
}

.card__btn svg {
    margin-right: 0.5rem;
}

.feature__desc h3 {
    font-size: 2.4rem;
    font-weight: 500;
}
.feature__desc p {
    font-size: 2rem;
    font-weight: 400;
}

.feature__user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.feature__user img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}

.user__desc {
    font-weight: 500;
}

.user__desc h3 {
    font-size: 1.8rem;
}
.user__desc p {
    color: #888b97;
    font-size: 1.4rem;
}

/*----------------------------------------------------------AvAILABLE HOUSE SECTION--------------------------------------------------------------------*/

.availables {
    width: 120rem;
    height: 48rem;
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
}

.availables__about {
    width: 50%;
    height: 100%;
}

.available__text {
    width: 41.3rem;
    height: 5.6rem;
    margin-left: 3.5rem;
}

.detail__title {
    font-size: 1.6rem;
    color: #1b1c57;
    opacity: 75%;
    margin-left: 3.5rem;
}

.availables__features {
    width: 100%;
    margin: 1rem 3.5rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.available__feature {
    display: flex;
    color: #3c4563;
    opacity: 75%;
    width: 50%;
    align-items: center;
}

.available__feature svg {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.6rem;
}

.available__feature h3 {
    font-size: 1.6rem;
}

.availables__gallery{
    width: 50%;
    padding: 2rem;
    position: relative;
}

.av__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.av__img--1{
    width: 48.8rem;
    height: 41.6rem;


}
.av__img--2{
    top: 40rem;
    left: 20%;
}

.av__img--3{
    top: 40rem;
    transform: translateX(-15px);
}
.av__img--4{
    top: 40rem;
    transform: translateX(10rem);
}


.contact {
    height: 33%;
    display: flex;
    align-items: center;
    width: 90%;
    border-top: 1px solid #f0f3fd;
    justify-content: space-around;
}

.contact__img,
.contact__img img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}

.contact__btn {
    width: 16.3rem;
    height: 4.8rem;
    position: relative;
}

.contact__btn button {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    text-align: right;
    cursor: pointer;
}

.contact__btn span {
    color: #fff;
    position: absolute;
    top: 55%;
    transform: translate(80%, -50%);
}

/*----------------------------------------------------------REVIEW SECTION--------------------------------------------------------------------*/

.review {
    width: 100%;
    height: 67rem;
}
.review__header {
    text-align: center;
}

.review__header h3::before {
    width: 3.2rem;
    height: 1px;
    background-color: #f59e0b;
    margin: 0 auto;
    position: static;
    display: block;
    margin-bottom: 1rem;
    border-radius: 3.2rem;
}

.review__gallery {
    width: 100%;
    display: flex;
    height: 53rem;
    position: relative;
}

.review__card {
    width: 74rem;
    height: 40rem;
    position: absolute;
    margin-top: 3rem;
    border-radius: 1.6rem;
    left: 25%;
}

.review__img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
}

.review__desc {
    position: absolute;
    background-color: #fff;
    border-radius: 1.6rem;
    width: 61.2rem;
    height: 24.9rem;
    padding: 3.2rem;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    box-shadow: 0.5px 0.5px 8px
        #00000057;
}
.review__title {
    font-size: 2rem;
}

.review__text {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 75%;
    color: #626687;
}

.review__user {
    display: flex;
    justify-content: space-between;
}

.review__rating {
    display: flex;
    width: 7.4rem;
    height: 2.8rem;
    align-items: center;
    position: relative;
    top: 2.7rem;
    right: 0;
}

.review__rating svg {
    width: 2.8rem;
    height: 2.8rem;
}

.review__quantity {
    margin-left: 1.6rem;
    font-size: 2rem;
}

.dots__container {
    width: 5.6rem;
    height: 8px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e0e3eb;
    cursor: pointer;
}

.dot__active {
    width: 8.5px;
    height: 8.5px;
    background-color: #3c4563;
}

/*----------------------------------------------------------TIPS & TRICKS SECTION--------------------------------------------------------------------*/

.tips {
    margin: 2rem auto;
    width: 114.8rem;
    height: 90rem;
}

.tip__container {
    width: 100%;
    display: flex;
    margin: 6rem 0;
}

.tip__snippets {
    width: 50%;

    height: 52.4rem;
    margin: 1rem 4rem 1rem 0;
}

.tip__snip {
    display: flex;
    width: 57.2rem;
    height: 14.8rem;
    justify-content: space-between;
    flex-grow: 0;
    margin-bottom: 5.5rem;
}

.tip__desc {
    width: 34rem;
    height: 14.8rem;
}

.tip__img {
    width: 20rem;
    height: 14.4rem;
}

.user__profile {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.tip__username {
    font-size: 1.4rem;
    font-weight: 400;
}

.user__pro--img {
    width: 3.2rem;
    margin-right: 2rem;
}

.user__tip {
    width: 34rem;
    height: 6.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.tip__timed {
    display: flex;
    font-size: 1.4rem;
    color: #888b97;
    font-weight: 400;
}

.tip__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.tip__read {
    padding: 0 3px;
}

.tip__main {
    width: 56rem;
}

.main__img{
    width: 100%;
    height: 28rem;
    border-radius: 1.6rem;
}

.tip__desc--main {
    margin-top: 2rem;
}

.user__pro--main {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 2rem;
}

.tip__username--main {
    font-size: 1.4rem;
    font-weight: 400;
    color: #3c4563;
}

.user__tip--main{
    font-size: 2.4rem;
    font-weight: 500;
}

.tip__read--main{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #626687;
    opacity: 75%;
}

/*----------------------------------------------------------SUBSRIPTION SECTION--------------------------------------------------------------------*/

.subscription{
    width: 100%;
    height: 35rem;
    margin-bottom: 2rem;
}

.subscription__container{
    display: flex;
    width: 120rem;
    height: 31.2rem;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    border-radius: 3.2rem;
    background-image: linear-gradient(to bottom right,#c471eda7 20%,#ffffff99 60%,#c471ed8d 90%);
}

.subscription__content{
    width: 49.6rem;
}

.subscription__content .heading__secondary{
    line-height: 1.4;
    margin-bottom: 2rem;
}

.img__gallery{
    width: 20%;
    height: 75%;
    position: relative;

}

.user__sub{
    width: 3.2rem;
    position: absolute;
    border-radius: 50%;
}
